.dart_tool/
packages/*/pubspec.lock
build/
*.db
*.db-journal
.env
apps/yujian/web/sqlite3.wasm
apps/yujian/build/
apps/yujian/.flutter-plugins-dependencies
apps/yujian/android/keystore.properties
apps/yujian/android/*.keystore
